<mat-card class="center-card">
    <button mat-icon-button mat-dialog-close style="position: absolute;right:10px; ">
        <mat-icon>close</mat-icon>
    </button>
    <p style="margin: auto; margin-bottom: 30px; transform: scale(2)">RESET PASSWORD</p>
    <mat-card-content>
        <div>
            <form [formGroup]="resetForm">

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" tabindex="-1">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
                        formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" tabindex="-1">
                        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>

                <button mat-raised-button mat-dialog-close color="primary" style="float: right;"
                    [disabled]="!resetForm.valid" (click)="register()" cdkFocusInitial>Change Password</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>