<mat-card class="center-card">
    <mat-icon style="margin: auto; margin-bottom: 30px; transform: scale(3);">account_box</mat-icon>
    <p style="margin: auto; margin-bottom: 30px; transform: scale(2)">LOG IN</p>
    <mat-card-content>
        <div>
            <form [formGroup]="loginForm">

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" tabindex="-1">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>

                <p style="margin: auto;">Dont have an account? <button mat-raised-button style="transform: scale(0.8)"
                        color="primary" routerLink="/register">Register</button></p>
                <button mat-raised-button color="warn" style="float: left;" (click)="anonLogin()">Anonymous Log
                    In</button>
                <button mat-raised-button color="natural" style="margin-left: 10px; float: left;"
                    (click)="resetPassword()">Reset
                    Password</button>
                <button mat-raised-button color="primary" style="float: right;" [disabled]="!loginForm.valid"
                    (click)="login()" cdkFocusInitial>Log In</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>